node_modules
src-tauri/target/
src-tauri/gen/schemas
src-tauri/math-tools-backend-x86_64-pc-windows-msvc.exe
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

frontend/coverage

frontend/build

frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/.venv
backend/dist
backend/build
backend/math-tools-backend.spec
**__pycache__
